body
{
    margin: auto;
    font-family: "Raleway", sans-serif;
    color:black;
}
header
{
  display: flex;
flex-direction: row;
justify-content: space-between;
padding: 50px 50px;
}
#logo{
    width: 150%;
}
.navigation
{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 450px;
list-style-type: none;

}
nav a
{
 text-decoration: none;
 font-weight: 500;
 color:black ;
 padding: 0 25px;
}
nav li:last-child a
{
    color:#0065FC;
    font-weight: bold;
}

nav li a:hover
{
 color:#0065FC;
 border-top: 3px solid #0065FC;
 padding-top: 50px;
}
main
{
   padding: 50px 50px;

}
.sous-titre
{
    font-size: x-large
}
.recherche{
    display: flex;
 flex-direction: row;
 align-items: center;

}
.fa-map-marker-alt{
    background-color:#F2F2F2;
    padding: 26px 26px;
    border-radius: 20px 0 0 20px;
}
input
{
    border-color: #F2F2F2 ;
    padding: 20px;
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 700;
    color: black;
   
}
.rechercher
{
    background-color:#0065FC ;
    padding: 20px;
    color: white;
    font-size: 20px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}
.filtres
{
    width:65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 80px;
    font-size: 20px;
    font-weight: bold;
}
.filtres-bg-icon
{
    position: relative;
 border: 3px solid;
 padding: 0 26px 0 90px;
 border-color: #F2F2F2;
 border-radius:50px 50px 50px 50px;
}
.filtres-bg-icon:hover
{
    border-color: #0065FC;
}
.filtres-icon
{
    position: absolute;
    color:#0065FC ;
    background-color:#DEEBFF;
    padding: 23px 23px;
    border-radius: 50px;
    left: -5px;
    }
    .fa-info
    {
        background-color: white;
        border-radius: 50%;
        border: 1px solid lightgray;
        width: 35px;
        height: 25px;
        text-align: center;
        color: #0065FC;
        padding-top: 10px;
    
    }
    .info-logements
    {
        width: 25%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }


