html
{
    scroll-behavior: smooth;
}
body
{
    margin: auto;
    font-family: "Raleway", sans-serif;
    color:black;
}
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 50px 50px 35px;
}

.navigation
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
    list-style-type: none;
}
nav a
{
    text-decoration: none;
    font-weight: 500;
    color:black ;
    padding: 0 25px;
}
nav li:last-child a
{
    color:#0065FC;
    font-weight: bold;
}

nav li a:hover
{
    color:#0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 50px;
}
main
{
   padding: 50px 0 50px 0;

}
#section-un
{
  padding: 0 50px;  
}



/*section 1*/
h1
{
font-size: 32px;
font-weight: bolder;

}
.sous-titre
{
    font-size: x-large;
}
.recherche{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fa-map-marker-alt{
    background-color:#F2F2F2;
    padding: 26px 26px;
    border-radius: 20px 0 0 20px;
}
.recherche input
{
    border-color: #F2F2F2 ;
    padding: 20px;
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.rechercher
{
    background-color:#0065FC ;
    padding: 20px;
    color: white;
    font-size: 20px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

span 
    {
display: none;
    }

.filtres
{
    width:65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0;
    font-size: 20px;
    font-weight: bold;
}
.filtres-bg-icon
{
    position: relative;
    border: 3px solid;
    padding: 0 26px 0 90px;
    border-color: #F2F2F2;
    border-radius:50px 50px 50px 50px;
}
.filtres-bg-icon:hover
{
    border-color: #0065FC;
    cursor: pointer;
}
.filtres-icon
{
    position: absolute;
    color:#0065FC ;
    background-color:#DEEBFF;
    padding: 23px 23px;
    border-radius: 50px;
    left: -5px;
}
.fa-info
{
    background-color: white;
    border-radius: 50%;
    border: 1px solid lightgray;
    width: 35px;
    height: 25px;
    text-align: center;
    color: #0065FC;
    padding-top: 10px;

}
.info-logements
{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 70px;
}

/*corps du site*/
.section-deux {
    display: flex;
    flex-direction: row;
    padding: 0 50px 0 50px;  
}

.hebergement
{
    flex: 2.6;
background-color: #F2F2F2;
border-radius: 20px 20px;
}



.cartes
{
display: flex;
flex-flow: row wrap;
justify-content: space-around;


}


a
{
color: black;
text-decoration: none;
}

.carte_1
{
    width: 320px;
    height: 320px;
    background-color:white;
    border-radius: 30px ;
    border: 3px solid white;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 30px;
}


figure
{
 height: 210px; 
 margin: 0;

}

 figure img
{
     object-fit: cover;
     width: 100%;
     height: 100%;
     border-radius: 30px 30px 0 0;
}

.info-hotel{
    padding-left: 10px;
}

h2
{
    font-weight: bold;
    margin: 10px 0 0 0;
}

article p
{
margin: 7px 0 0 0;
}
.afficher
{
padding-left: 20px;
padding-bottom: 50px;
font-weight: bold;
}

/*aside*/

aside {
    flex: 1.4;
    background-color: #F2F2F2;
    margin-left: 20px;
    border-radius: 30px;
    padding-right: 30px;
}

.carte_aside
{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    background-color:white;
    border-radius: 30px ;
    border: 3px solid white;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 60px;
}
.carte_aside figure
{
 width: 180px;
 height: 210px; 
 margin: 0;

}

.carte_aside figure img
{
     object-fit: cover;
     width: 100%;
     height: 100%;
     border-radius: 30px 0 0 30px; 
}
.prix_aside
{
    padding-bottom: 50px;
}

.titre_chart
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.fa-chart-line
{
    font-size: 32px;
}
.aside
{
    display: flex;
    flex-direction: column;

}
h3
{
    font-size: 32px;
    font-weight: bolder;
    margin-left: 20px;
    padding: 30px 0 30px 0px; 

}

.fa-star
{
    color:#0065FC;
}
.grey-star
{
    color:#ccc;
}




/*acrivites*/
#section-activites
{
    padding: 0 50px 0 50px;  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.titre-activites
{
    margin-left: 0;
    padding-left: 0;
}

.cartes-activites
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.img-double
{
    display: flex;
    flex-direction: column;
}

.activites-box
{
    display: flex;
    flex-direction: row;
}

.carte_2
{
    width:360px;
    height: 450px;
    background-color:white;
    border-radius: 30px ;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 30px;
}

.carte_2 figure
{
    height: 400px; 
    margin: 0;
}

.carte_2 figure img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 30px 30px 0 0;
}

.carte_3
{
    width: 360px;
    height: 200px;
    background-color:white;
    border-radius: 30px ;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 47px;
}

.carte_3 figure
{
    height: 150px; 
    margin: 0;
}

.carte_3 figure img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 30px 30px 0 0;
}

/*footer*/
footer
{
    background-color: #F2F2F2;
    padding: 20px 20px 20px 20px;
}

.boites-footer
{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    
}

.ul-footer
{
list-style: none;
padding-left: 0px;
font-size: 15px;
}

.footer-t
{
    font-weight: bold;
    font-size: 17px;
}


/*mobile*/

@media (max-width: 576px)
{

   
    header{
        padding: 20px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    } 
    
    .logo {
        width: 40%;
        position: relative;
        padding-left: 20px;
    }
    
    nav
    {
        width: 100%;
    }

    .navigation
    {
        padding-left: 0;
        width: auto;
    }

    nav li 
    {
        width: 50%;
        text-align: center;
        border-bottom: 3px solid #F2F2F2;
        
    }

    nav li a:hover
    {
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }

    nav li:last-child
    {
        display: inline-block;
        position: absolute;
        right: 12px;
        width: 30%;
        top: 59px;
        border-bottom: none;
    }

    h1 
    {
        font-size: 24px;
    }

    main 
    {
        padding-top: 0;
        padding-bottom: 0;
    }

    #section-un
    {
        padding: 0 20px;
    
    }
    h3
    {
          font-size: 25px;
          margin-left: 0;
    }
    
    .titre_chart
    {
          display: flex;
          justify-content: space-around;

    }

    h2{
        font-size: 20px;
    }
    
    .carte_aside
    {margin-right: 20px; 
    margin-bottom: 30px;}


    .img-coeur {
        width: 68%;
    }

    .hebergement {
        display: flex;
        background-color: white;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        }
        


    .sous-titre
    {
        font-size: 15px;
    }
    .recherche
    {
        display: flex;
        position: relative;
        
        
    }
    
    .recherche input
    {
        width: 250px;
        font-size: 17px;
        padding: 22px 20px 22px 20px;
    }

   .rechercher
   {
    display: none;
   
   }
    
    span
    {
    display: block;
    position: absolute;
    left: 265px;
    top: 0;
    background-color:#0065FC;
    padding: 24px 26px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    }
    
   .afficher
   {
    padding-right: 220px;
    padding-bottom: 0;
    font-weight: bold;
    padding-left: 0;
    }

    .filtres {
    display: inline;
    }

    .filtres-bg-icon {
    margin-bottom: 15px;
    }

    .info-logements{
    width: 100%;
    padding-bottom: 20px;
   }

   .fa-info {
     margin-right: 10px;
     padding-left: 5px;
    padding-right: 5px;
    }
 
    .section-deux {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    }
    
   aside {
    border-radius: 0;
    margin: 0;
    padding: 0;
    }
  

    #section-activites{
     padding: 0 22px ;
    }

    .titre-activites
    {
     padding-top: 0;
     margin-top: 20;
     padding-bottom: 0;
    }

    .cartes-activites {
    display: flex;
    flex-flow: column;
    align-items: center;
   }

   .carte_2{
     width: 330px;
     height: 250px;
    }

    .carte_2 figure{
     height: 200px;
    }

    .carte_3{
    width: 330px;
    height: 250px;
    }

    .carte_3 figure{
   
    height: 200px;
    }

    .boites-footer
    {
    flex-direction: column;
   }
}